
/*Código armado por La Foca Loca S.A. No modificar*/
body {  
  font-family: 'Titillium Web', sans-serif;
  width: 940px;
  margin: 5% auto;
  min-height: 100%;
  background-image: url(../img/adventure.jpg);
  background-repeat: no-repeat;
}

h1 {
  margin: 0;
  letter-spacing: 4px;
  text-align: center;
  color: #fff;
  background: #DE294E;
}

h2 {
  font-size: 28px;
  letter-spacing: 1.25px;
  color: #DE294E;
}

ul {
  padding-left: 0;
  list-style: none;
}

li {
  font-family: 'Cabin', sans-serif; 
  font-size: 19px;
  padding: 5px 0;
}

li::before {
  content: "» ";
  color: #EC6778;
}

footer{
  font-family: 'Cabin', sans-serif; 
  font-size: 16px;
  font-style: italic;
  font-weight: bold;
  text-align: center;
  padding: 10px 0;
  color: #fff;
  background: #232C2F;  
}

.col-40, .col-60 {
  display: table-cell;
  margin: 0;
  vertical-align: top;
}

.col-40 {
  background: #FFF;
  padding: 30px;
  color: #000;
}

#juego {
  width: 600px;
  height: 600px;
  background: #fff;
  border: 3px solid rgb(112, 25, 114);
}

#juego div {
  height: 32.5%;
  width: 32.5%;
  float: left;
  animation: fadein 2s;
  border: 2.5px solid rgb(112, 25, 114);
}

/* .rompecabezas */
#juego img {
  width: 100%;
  height: 100%;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
